#page {
max-width: 2000px;
min-width: 720px;
margin: 10px auto 10px auto;
padding: 20px;
background-color: #D3D3D3;
}

.header
{
	height: 40px;
	background-color: #D3D3D3;
}

h1
{
	color: black;
	font-family: Avenir;
}

